<header class="bg-hero-pattern shadow-sm p-10">
    <div class="container mx-auto p-4 flex flex-col md:flex-row justify-between">
        <div class="flex flex-col items-start mb-4 md:mb-0">
            <p class="text-4xl md:text-3xl lg:text-4xl font-bold mb-2 text-primary">Logo</p>
            <ul class="text-gray-600 space-y-1">
                <li> <span class="font-semibold mr-1">Location:</span> Isr Street gilrt awam juim</li>
                <li> <span class="font-semibold mr-1">Contact: </span> +9 5555559909</li>
                <li> <span class="font-semibold mr-1">Time: </span> (9am-5pm EST, Monday - Friday)</li>
                <li> <span class="font-semibold mr-1">Email: </span> youmeRule.com</li>
            </ul>
        </div>
        <div class="flex lg:space-x-32 flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8">
            <div class="text-gray-700">
                <p class="text-xl md:text-2xl font-bold mb-2">Company</p>
                <ul class="text-gray-600 space-y-1">
                    <li>Case Studies</li>
                    <li>Case Details</li>
                    <li>Privacy Policy</li>
                    <li>Services</li>
                </ul>
            </div>
            <div class="text-gray-700">
                <p class="text-xl md:text-2xl font-bold mb-2">Explore</p>
                <ul class="text-gray-600 space-y-1">
                    <li>About Us</li>
                    <li>Blog And News</li>
                    <li>Blog Details</li>
                    <li>Pricing</li>
                </ul>
            </div>
            <div class="text-gray-700">
                <p class="text-xl md:text-2xl font-bold mb-2">Insurance</p>
                <ul class="text-gray-600 space-y-1">
                    <li>Health Insurance</li>
                    <li>Car Insurance</li>
                    <li>Business Insurance</li>
                    <li>Life Insurance</li>
                </ul>
            </div>
        </div>
    </div>
</header>
