<section class="relative flex items-center justify-center h-screen bg-hero-pattern overflow-hidden">
    <div class="absolute left-5 z-20 text-black max-w-2xl px-4 sm:px-8 md:px-10">
        <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold mb-4 sm:mb-6 md:mb-8 ">
            Take the worry out of life with <span class="text-primary">Insurance</span> protection
        </h1>
        <p class="mb-4 sm:mb-6 md:mb-8 text-base sm:text-lg md:text-xl text-gray-600 text-wrap">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae turpis id libero vehicula tincidunt.
            Lorem ipsum dolor sit amet itaque unde sed est dicta incidunt culpa.
        </p>
        <button
            class="bg-primary hover:bg-gray-400 text-white font-bold py-2 px-4 sm:py-3 sm:px-6 md:py-4 md:px-8 rounded inline-flex items-center mr-2 sm:mr-3 md:mr-4">
            <i class="fa-solid fa-angle-right mr-2" style="color: #ffffff;"></i>
            <span>Get Started</span>
        </button>
        <button
            class="border border-primary text-primary hover:bg-primary hover:text-white font-bold py-2 px-4 sm:py-3 sm:px-6 md:py-4 md:px-8 rounded inline-flex items-center">
            <i class="fa-solid fa-paper-plane mr-2" style="color: #138f82;"></i>
            <span>Contact Us</span>
        </button>
    </div>
    <img src="../../../assets/images/father-daughter.png" alt="Father and Daughter"
        class="father-daughter absolute right-0 top-2 max-w-full max-h-full object-contain z-10  sm:block" />

    <img src="https://sspolicy.com/assets/images/subscribe-shape-1.png" alt="Small Image 1"
        class="absolute top-10 left-10 max-w-full max-h-full object-contain w-8 sm:w-12 md:w-16  xl:z-10 xs:block" />
    <img src="https://sspolicy.com/assets/images/choose-shape.png" alt="Small Image 2"
        class="absolute bottom-20 left-2/4 max-w-full max-h-full object-contain w-16 sm:w-24 md:w-32 md:-z-10 lg:z-20 xs:block" />
    <img src="https://sspolicy.com/assets/images/subscribe-shape-2.png" alt="Small Image 3"
        class="absolute top-10 right-10 max-w-full max-h-full object-contain w-10 sm:w-16 md:w-20 md:-z-10 lg:z-20  xs:block" />
</section>